@mixin shadow {
	position: absolute;
	top: calc(50% + 1em);
	left: 50%;
	z-index: 1;
	width: calc(100% - 2em);
	height: calc(100% - 2em);
	background-color: $color-shadow;
	background-image: linear-gradient(
		to right bottom,
		$color-shadow-1,
		$color-shadow-2
	);
	transform: translate(-50%, -50%);
	filter: blur(20px);
}
@mixin soft {
	background-image: linear-gradient(
		to right bottom,
		$color-soft-1,
		$color-soft-2
	);
	.dark & {
		background-image: linear-gradient(
			to right bottom,
			$color-darksoft-1,
			$color-darksoft-2
		);
	}
}
