// Basic colors
$color-background: color(White);
$color-text: color(Black);
$color-border: color(Black, 0.25);
$color-primary: color(Red);
$color-secondary: color(Skyblue);
$color-warning: color(Orange);
$color-success: color(Green);
$color-error: color(Red);
$color-shadow: color(Purple);
$color-shadow-1: $color-shadow;
$color-shadow-2: color(Pink);
$color-soft: mix($color-secondary, white, 15%);
$color-soft-primary: mix($color-primary, white, 15%);
$color-soft-1: $color-soft;
$color-soft-2: mix($color-secondary, white, 25%);
@import '../typography/style';
