.button {
	display: inline-block;
	border: none;
	border-radius: $base-border-radius;
	background-color: $color-primary;
	color: contra($color-primary);
	font-size: 1em;
	text-decoration: none;
	padding: 1em;
}
