// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$track-color: white !default;
$track-border-color: rgba(0, 0, 0, 0.25) !default;
$thumb-color: rgba(0, 0, 0, 0.25) !default;
$thumb-border-color: white !default;

$thumb-radius: 0.25em !default;
$thumb-height: 2em !default;
$thumb-width: 1.25em !default;
$thumb-border-width: 0.2em !default;

$track-width: 100% !default;
$track-height: 1.5em !default;
$track-border-width: 0.1em !default;
$track-radius: 0.25em !default;

$ie-bottom-track-color: $track-color !default;

@mixin track {
	width: $track-width;
	height: $track-height;
	transition: all 0.2s ease;
	cursor: default;
}

@mixin thumb {
	width: $thumb-width;
	height: $thumb-height;
	box-sizing: border-box;
	border: $thumb-border-width solid $thumb-border-color;
	border-radius: $thumb-radius;
	background: $thumb-color;
	cursor: default;
}

@mixin input-range-focus {
	&:focus {
		outline: 0;

		&::-webkit-slider-runnable-track {
			background: $track-color;
		}

		&::-ms-fill-lower {
			background: $track-color;
		}

		&::-ms-fill-upper {
			background: $track-color;
		}
	}
}
@mixin input-range-track($output: true) {
	&::-webkit-slider-runnable-track {
		@if $output {
			@include track;
			border: $track-border-width solid $track-border-color;
			border-radius: $track-radius;
			background: $track-color;
		}
		@content;
	}
	&::-moz-range-track {
		@if $output {
			@include track;
			height: $track-height / 2;
			border: $track-border-width solid $track-border-color;
			border-radius: $track-radius;
			background: $track-color;
		}
		@content;
	}
	&::-ms-track {
		@if $output {
			@include track;
			border-width: ($thumb-height / 2) 0;
			border-color: transparent;
			background: transparent;
			color: transparent;
		}
		@content;
	}
	&::-ms-fill-lower {
		@if $output {
			border: $track-border-width solid $track-border-color;
			border-radius: ($track-radius * 2);
			background: $ie-bottom-track-color;
		}
		@content;
	}

	&::-ms-fill-upper {
		@if $output {
			border: $track-border-width solid $track-border-color;
			border-radius: ($track-radius * 2);
			background: $track-color;
		}
		@content;
	}
}
@mixin input-range-thumb($output: true) {
	&::-webkit-slider-thumb {
		@if $output {
			@include thumb;
			-webkit-appearance: none;
			margin-top: (
				(-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2
			);
		}

		@content;
	}

	&::-moz-range-thumb {
		@if $output {
			@include thumb;
		}
		@content;
	}
	&::-ms-thumb {
		@if $output {
			@include thumb;
			margin-top: $track-height / 4;
		}
		@content;
	}
}
@mixin input-range() {
	width: $track-width;
	background: transparent;
	-webkit-appearance: none;
	margin: 0;

	&::-moz-focus-outer {
		border: 0;
	}
	@include input-range-focus();
	@include input-range-track();
	@include input-range-thumb();

	&:disabled {
		&::-webkit-slider-thumb,
		&::-moz-range-thumb,
		&::-ms-thumb,
		&::-webkit-slider-runnable-track,
		&::-ms-fill-lower,
		&::-ms-fill-upper {
			cursor: not-allowed;
		}
	}
}
